#main{
    background-image: url(https://images.unsplash.com/photo-1712133312537-1b8aea626285?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8);
    background-repeat: no-repeat;
    background-size: cover;
    
}